<div class="container-xxl py-5">
  <div class="container">
    <div class="rounded">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn bg-light rounded" data-wow-delay="0.1s">
              <div class="h-100 d-flex flex-column justify-content-center p-5">
                <h1 class="mb-4 text-uppercase">Register to be a donor</h1>
                <form (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0" id="firstName" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName" required>
                        <label for="firstName">First Name</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0" id="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName" required>
                        <label for="lastName">Last Name</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-floating">
                        <select [ngClass]="{'form-select border-0': user.gender === 'Masculin' || user.gender === 'Feminin'}" id="gender" [(ngModel)]="user.gender" name="gender" required>
                          <option value="" disabled selected>Select Gender</option>
                          <option value="Masculin">Masculin</option>
                          <option value="Feminin">Feminin</option>
                        </select>
                        <label for="gender">Gender</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="email" class="form-control border-0" id="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
                        <label for="email">Email</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0" id="phoneNumber" placeholder="Phone" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
                        <label for="phoneNumber">Phone</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="text" class="form-control border-0" id="address" placeholder="Address" [(ngModel)]="user.address" name="address" required>
                        <label for="address">Address</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-floating">
                        <select id="regionSelect" class="form-select border-0" name="governorate" [(ngModel)]="user.governorate" required>
                          <option value="" selected disabled>City</option>
                          <option value="Ariana">Ariana</option>
                          <option value="Beja">Béja</option>
                          <option value="Ben Arous">Ben Arous</option>
                          <option value="Bizerte">Bizerte</option>
                          <option value="Gabes">Gabès</option>
                          <option value="Gafsa">Gafsa</option>
                          <option value="Jendouba">Jendouba</option>
                          <option value="Kairouan">Kairouan</option>
                          <option value="Kasserine">Kasserine</option>
                          <option value="Kebili">Kebili</option>
                          <option value="kef">Le Kef</option>
                          <option value="Mahdia">Mahdia</option>
                          <option value="La Manouba">La Manouba</option>
                          <option value="Médenine">Médenine</option>
                          <option value="Monastir">Monastir</option>
                          <option value="Nabeul">Nabeul</option>
                          <option value="Sfax">Sfax</option>
                          <option value="Sidi Bouzid">Sidi Bouzid</option>
                          <option value="Siliana">Siliana</option>
                          <option value="Sousse">Sousse</option>
                          <option value="Tataouine">Tataouine</option>
                          <option value="Tozeur">Tozeur</option>
                          <option value="Tunis">Tunis</option>
                          <option value="Zaghouan">Zaghouan</option>
                        </select>
                        <label for="regionSelect">City</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-floating">
                        <input type="password" class="form-control border-0" id="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="file" accept="image/*" class="form-control border-0" id="photo" [(ngModel)]="user.photo" (change)="onFileSelected($event)" name="photo">
                        <label for="photo">Photo</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                    </div>

                    <div class="text-center">
                      <span>Already have an account? </span>
                      <a [routerLink]="['/login']"> Sign in instead</a>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="max-height: 400px;">
            <div class="position-relative h-100">
                <img class=" w-100 h-100 rounded" src="../../../../assets/img/visiteur/donor.jpg" title="donor" at="img"/>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-snack-bar [message]="successMessage" [show]="showSuccessMessage"></app-snack-bar>
