.accordion-item{
  background-color: rgb(255, 255, 255)!important;
}
.accordion-button {
  background-color: rgb(212, 164, 252)!important;
  color: black;
}
.row-accordion{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: rgb(104, 104, 104);
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.donor-detail{
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  margin: 0 20px;
}
.accordion b{
  color: blueviolet;
}
.row2{
  display: grid;
  grid-template-columns: 55% 45%;
}


/* Apply styles to the entire table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

/* Style table header */
thead {
  background-color: #f2f2f2;
}

/* Style table header cells */
th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

/* Style alternating rows in the table body */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style table cells */
td {
  padding: 5px 10px;
  text-align: left;
  border: 2px solid #ddd;
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: #e0e0e0;
}


.school-info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.info-box {
  border: 1px solid #ccc;
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  padding: 5px;
  margin:5px 10px ;
  text-align: center;
  color: rgb(96, 4, 124);
}

.info-label {
  display: block;
  font-weight: bold;
}

.info-value {
  display: block;
  font-size: 1.1em;
}
.info-box:hover{
  background-color: rgb(90, 4, 107);
  color: #ccc !important;
}

