
  <div class="container mb-3">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h1 class="mb-3">Donations</h1>
          <p>Join us in fostering brighter futures for students by contributing to our donation drive. Every donation, big or small, fuels the journey toward educational success</p>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="facility-item mx-5">
                  <div class="facility-icon background-mauve">
                      <span class="background-mauve"></span>
                      <i class="fa fa-book fa-3x mauve" aria-hidden="true"></i>
                      <span class="background-mauve"></span>
                  </div>
                  <div class="facility-text background-mauve">
                      <h3 class="mauve mb-3">School Supplies</h3>
                      <p class="mb-0">By donating school supplies, you empower young minds to explore, learn, and dream bigger.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6wow fadeInUp " data-wow-delay="0.3s">
              <div class="facility-item mx-5">
                  <div class="facility-icon background-vert">
                      <span class="background-vert"></span>
                      <i class="fas fa-money-bill-alt fa-3x vert" aria-hidden="true"></i>
                      <span class="background-vert"></span>
                  </div>
                  <div class="facility-text background-vert">
                      <h3 class="vert mb-3">Money</h3>
                      <p class="mb-0">Your financial contribution opens doors for students, providing opportunities that pave the way for a brighter future.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="facility-item mx-5">
                  <div class="facility-icon background-rose">
                      <span class="background-rose"></span>
                      <i class="fas fa-tshirt fa-3x rose"></i>
                      <span class="background-rose"></span>
                  </div>
                  <div class="facility-text background-rose">
                      <h3 class="rose mb-3">Clothes</h3>
                      <p class="mb-0">Your donation of clothes can bring warmth and comfort to children in need.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
