<div class="py-5 position-relative mb-5 causes-header">
  <div class="container py-5">
      <h1 class="display-2 text-white animated slideInDown mb-4">Our causes</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Our causes</li>
        </ol>
      </nav>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-3 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1050px;">
      <h1 class="mb-3">Schools in Urgent Need of Your Support</h1>
      <p>Many schools are facing challenging circumstances and require assistance to provide a better learning environment for their students. Your generosity can make a significant impact by supporting these schools in need. Contribute to their educational journey and help create a brighter future for the next generation.</p>
    </div>
      <div class="row g-4" >
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" *ngFor="let cause of school">
            <div class="activities-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                  <img class="img-fluid rounded-circle img-school" src="http://localhost:5000/uploads/school/{{ cause.image }}" alt="{{ cause.name }}">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5">
                    <a class="d-block text-center h4 mt-3 mb-4">{{ cause.name }}</a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">
                            <div>
                              <b>Address: </b>{{ cause.address }} {{ cause.governorate }}
                            </div>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-4">
                            <div class="border-top border-3 border-primary pt-2">
                                <h6 class="text-primary mb-2">Students: <small>{{ cause.nbr_student }}</small></h6>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-success pt-2">
                                <h6 class="text-success mb-2">Teachers:<small>{{ cause.nbr_teachers}}</small></h6>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-warning pt-2">
                                <h6 class="text-warning mb-2">Class:<small>{{ cause.nbr_classes }}</small></h6>
                            </div>
                        </div>
                    </div>
                    <h6 class="mb-1"> <b class="text-info mb-1">Needs: </b><b class="text-primary mb-1">{{ cause.type_needs }}</b></h6>
                  <div> {{ cause.needs }}</div>
                    <div class="text-center mt-3">
                        <a [routerLink]="['/be-ambassador']" class="bg-primary text-white rounded-pill py-2 px-3">More Info...</a>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
</div>
