<div class="container-xxl pb-2">
  <div class="container">
      <div class="bg-light rounded">
          <div class="row g-0">
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                  <div class="h-100 d-flex flex-column justify-content-center p-5">
                      <h1 class="mb-4">Become a donor</h1>
                      <p class="mb-4">
                          Every donation, large or small, is a direct investment in the education of our students. By contributing, you help create an enriching learning environment that transcends economic limitations. Together, we can build a future where every child has access to quality education. Join us in this noble quest, because every gesture counts and every donation represents a brick placed on the path to knowledge
                      </p>
                      <a class="btn btn-primary py-3 px-5" [routerLink]="['be-donor']">Start now<i class="fa fa-arrow-right ms-2"></i></a>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                  <div class="position-relative h-100">
                      <img class="position-absolute w-100 h-100 rounded" src="assets/img/visiteur/help_kids.jpg" style="object-fit: cover;">
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
