  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5">
    <div class="header-carousel position-relative">
        <owl-carousel-o [options]="customOptions"  data-wow-delay="0.1s" class="owl-carousel-item position-relative">
          <ng-container *ngFor="let slide of slides">
            <ng-template carouselSlide [id]="slide.id">
              <img class="img-fluid" [src]="slide.img" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-10 col-lg-8">
                              <h1 class="display-2 text-white animated slideInDown mb-4">{{ slide.tiltle }}</h1>
                              <h2 class="text-white mb-4 pb-2">{{ slide.text }}</h2>
                              <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">{{ slide.btn1 }}</a>
                              <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">{{ slide.btn2 }}</a>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>
    </div>
</div>
<!-- Carousel End -->
