<div class="container-xxl py-5">
  <div class="container">
      <div class="rounded">
          <div class="row g-5">
              <div class="rounded bg-light col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                  <div class="h-100 d-flex flex-column justify-content-center p-5">
                      <h1 class="mb-3 text-center">Forgot your password ?</h1>
                      <p class="mx-1">Enter your email address</p>
                      <form>
                          <div class="row">
                            <div class="form-floating">
                              <input type="email" class="form-control border-0 px-3" id="email" placeholder="email">
                              <label for="email" class="mx-3">Email</label>
                            </div>
                            <button class="btn btn-primary w-100 m-3 py-3" type="submit">
                              <a [routerLink]="['/reset-password']" style="color: white;">Continue</a>
                            </button>
                            <a [routerLink]="['/login']" class="text-center">Back to Login</a>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="assets/img/visiteur/forgot.png">
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
