  <!-- About Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6 wow fadeInUp  my-4 " data-wow-delay="0.1s">
                  <h1 class="mb-4">Learn More About as </h1>
                  <p class="text-justify">Welcome to We Hope, an app that bridges the gap between donors and school leaders, working
                      together to tackle financial
                      challenges and ensure every child has the opportunity to receive an education. Our unique
                      approach connects donors directly
                      with school officials, fostering collaboration and impactful change.
                  </p>
                  <p class="text-justify">
                      Our Mission
                      At We Hope, our mission is to empower children to overcome financial barriers and continue their
                      education journey. We understand the vital role education plays in shaping a child's future, and
                      we are committed to creating a platform that facilitates direct connections between donors and
                      school authorities.</p>
                  <p class="mb-4"></p>

              </div>

              <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                  <div class="row">
                      <div class="col-12 text-center">
                          <img class="w-75 rounded-circle bg-light p-3" height="400px" width="120px"
                              src="assets/img/visiteur/wie1.jpg" alt="">
                      </div>
                      <div class="col-6 text-start" style="margin-top: -150px;">
                          <img class="w-100 rounded-circle bg-light p-3" height="270px" width="100px"
                              src="assets/img/visiteur/wie2.jpg" alt="">
                      </div>
                      <div class="col-6 text-end" style="margin-top: -150px;">
                          <img class="w-100 rounded-circle bg-light p-3" height="270px" width="100px"
                              src="assets/img/visiteur/wie3.jfif" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About Start -->











